<tr>
  <td style="text-align: center">
    <%= booking.id %>
  </td>
  <td>
    <%= booking.card_name %>
  </td>
  <td style="text-align: center">
    <%= booking.num_seats %>
  </td>
  <td>
    <%= humanized_money_with_symbol booking.tour.price_cents * booking.num_seats %>
  </td>
  <td>
    <%= booking.created_at.strftime('%d-%b-%Y') %>
  </td>
</tr>
