<% provide(:title, 'Book Tour') %>
<h1>Booking for <%= @tour.title %></h1>

<div class="controls controls-row">
  <div class="span6 offset3">
    <%= form_for [@tour, @booking] do |f| %>

        <%= f.label :num_seats, 'Number of seats' %>
        <%= f.number_field :num_seats %>

        <%= f.label :credit_card_number, 'Credit card number' %>
        <%= f.text_field :credit_card_number, placeholder: 'xxxx-xxxx-xxxx-xxxx' %>

        <%= f.label :card_security_code, 'Security Code' %>
        <%= f.text_field :card_security_code, placeholder: '999' %>

        <%= f.label :card_name, 'Cardholder Name' %>
        <%= f.text_field :card_name, placeholder: 'Full Name' %>

        <%= f.label :card_exp_month, 'Exp Month' %>
        <%= f.number_field :card_exp_month, placeholder: 1 %>

        <%= f.label :card_exp_year, 'Exp Year' %>
        <%= f.text_field :card_exp_year, placeholder: '1900' %>

        <%= f.submit 'Book Tour', class: "btn btn-large btn-block btn-primary" %>

    <% end %>
  </div>
</div>