<% provide(:title, 'Book Tour') %>
<h1>Booking for <%= @tour.title %></h1>

<div class="controls controls-row">
  <div class="span6 offset3">
    <%= form_for [@tour, @booking] do |f| %>

        <h5>
          Number of seats
        </h5>

        <div class="controls controls-row">
          <%= f.number_field :num_seats %> x <%= humanized_money_with_symbol @tour.price_cents %>
        </div>

        <h5>
          Credit Card Info
        </h5>

        <div class="controls controls-row">
          <%= f.text_field :credit_card_number, placeholder: 'Card Number (xxxx-xxxx-xxxx-xxxx)',
                                                class: 'span4' %>

          <%= f.text_field :card_security_code, placeholder: 'Security Code',
                                                class: 'span2' %>
        </div>

        <div class="controls controls-row">
          <%= f.text_field :card_name, placeholder: 'Cardholder Name',
                                       class: 'span4' %>

          <%= f.number_field :card_exp_month, placeholder: 'Month',
                                              class: 'span1' %>

          <%= f.text_field :card_exp_year, placeholder: 'Year',
                                           class: 'span1' %>
        </div>

        <h5>
          Billing Info
        </h5>

        <div class="controls controls-row">
          <%= f.text_field :billing_address, placeholder: '123 S Boulevard Ave',
                                             class: 'span4' %>

          <%= f.text_field :billing_state, placeholder: 'XY',
                                           class: 'span1' %>

          <%= f.text_field :billing_zipcode, placeholder: 'Zip',
                                             class: 'span1' %>
        </div>

        <h5>
          Confirmation email sent to:
        </h5>

        <div class="controls controls-row">
          <%= f.text_field :confirmation_email, placeholder: 'name@example.com',
                                                class: 'span6' %>
        </div>

        <%= f.submit 'Book Tour', class: "btn btn-large btn-block btn-primary" %>

    <% end %>
  </div>
</div>