<%= form_for(@tour) do |f| %>

    <h5>
      Tour Name
    </h5>

    <div class="controls controls-row">
      <%= f.text_field :title, class: "input-block-level",
                               placeholder: "eg. Dolphin Scuba Tour" %>
    </div>

    <h5>
      Tour Date
    </h5>

    <div class="controls controls-row">
      <%= f.date_select :tour_date %>
    </div>

    <h5>
      Tour Duration
    </h5>

    <div class="controls controls-row">
      <%= f.text_field :duration_before_typecast, class: "input-block-level",
                                                  placeholder: "eg. 1 hour 30 minutes" %>
    </div>

    <h5>
      Tour Seating and Pricing
    </h5>

    <div class="controls controls-row">
      <%= f.number_field :total_seats, class: "span3" %>

      <%= f.number_field :price_cents, class: "span3",
                                       placeholder: "$0" %>
    </div>

    <%= f.submit "Create Tour", class: "btn btn-large btn-block btn-primary" %>

<% end %>