<tr>
    <td width="40%">
      <%= tour.title %>
    </td>
    <td>
      <%= link_to "Book", new_tour_booking_path(tour), class: "btn btn-mini btn-success" %>

      <% if signed_in? && current_user.admin?  %>
        <%= link_to "Details", tour_path(tour), class: "btn btn-mini btn-info" %>
        <%= link_to "Cancel", '#', class: "btn btn-mini btn-danger" %>
      <% end %>
    </td>
    <td>
      <%= tour.tour_date.strftime("%d-%b-%Y") %>
    </td>
    <td style="text-align: center">
      <%= ChronicDuration.output(tour.duration, format: :short) %>
    </td>
    <td style="text-align: center">
      <%= tour.total_seats %>
    </td>
    <td style="text-align: center">
      <%= tour.available_seats %>
    </td>
    <td>
      <%= humanized_money_with_symbol tour.price_cents %>
    </td>
</tr>